@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

.light{
    --mainColor: #64bcf4;
    --hoverColor: #5bacdf;
    --backgroundColor: #f1f8fc;
    --darkOne: #312f3a;
    --darkTwo: #45424b;
    --lightOne: #919191;
    --lightTwo: #aaa;
    --lightThree: #dfe2f1;
    --circle: #b7d2f5;
    
}

.dark{
    --mainColor: #64bcf4;
    --hoverColor: #5bacdf;
    --backgroundColor: #192e3a;
    --darkOne: #f3f3f3;
    --darkTwo: #fff;
    --lightOne: #ccc;
    --lightTwo: #e7e3e3;
    --lightThree: #dfe2f1;
    --circle: #213c4dff;
}

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

.stopScrolling{
    height: 100%;
    overflow: hidden;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
}

.leftCircle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--circle);
    clip-path: circle(300px at right 750px);
}

.socialMediaIcons{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 20;
}

.socialMediaIcons li{
    list-style: none;
}

.socialMediaIcons li a{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
}

.landingPage{
    position: relative;
    padding: 1.7rem 0 2rem;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container{
    position: relative;
    /* background-color: aqua; */
    max-width: 81rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
    z-index: 10;
}

header {
    position: relative;
    z-index: 70;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overlay{
    display: none;
}

.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img{
    width: 55px;
    margin-right: 0.6rem;
    margin-top: -0.6rem;
    padding-top: 8px;
}

.logo h3{
    color: var(--darkTwo);
    font-size: 1.55rem;
    line-height: 1.2;
    font-weight: 700;
}

.navButtons ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.navButtons a{
    color: var(--lightTwo);
    margin-left: 4.5rem;
    display: inline-block;
    transition: 0.3s;
}

.navButtons a:hover{
    color: var(--hoverColor);
    transform: scale(1.05);
}

.hamburgerMenu {
    position: relative;
    z-index: 99;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
}

.hamburgerMenu .bar {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: var(--darkTwo);
    border-radius: 3px;
    transition: 0.5s;
}

.bar::before,
.bar::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--darkTwo);
    border-radius: 3px;
    transition: 0.5s;
}

.bar::before {
    transform: translateY(-8px);
}

.bar::after {
    transform: translateY(8px);
}

.landingPage.active .hamburgerMenu .bar {
    background-color: transparent;
}

.landingPage.active .bar::before {
    transform: translateY(0) rotate(-45deg);
}

.landingPage.active .bar::after {
    transform: translateY(0) rotate(45deg);
}

.button{
    display: inline-block;
    padding: 0.9rem 1.9rem;
    color: #fff !important;
    background-color: var(--mainColor);
    border-radius: 16px;
    text-transform: capitalize;
    transition: 0.3s;
}

.button:hover{
    background-color: var(--hoverColor);
    transform: scale(1) !important;
}

.toggleBtn{
    display: inline-block;
    border: none;
    background-color: var(--darkTwo);
    color: var(--backgroundColor);
    outline: none;
    cursor: pointer;
    height: 39px;
    width: 39px;
    border-radius: 50%;
    font-size: 1.1rem;
    transition: 0.3s;
}

.toggleBtn i{
    line-height: 39px;
}

/* .toggleBtn i:last-child{
    display: none;
} */

.toggleBtn:hover{
    background: var(--mainColor);
}

.landingPage.light .toggleBtn i:last-child{
    display: none;
}

.landingPage.light .toggleBtn i:first-child{
    display: block;
}

.landingPage.dark .toggleBtn i:last-child{
    display: block;
}

.landingPage.dark .toggleBtn i:first-child{
    display: none;
}

.shape{
    position: absolute;
    z-index: 0;
    width: 500px;
    bottom: -180px;
    left: -15px;
    opacity: 0.1;
}

.copy{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    animation: appear 1s 1 both;
}

#features .container{
    width: 100%;
    height: 100%;
    padding: 0 !important;
}

#features .container h1{
    text-align: center;
    padding-top: 70px;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
    color: var(--darkOne);
}

#features .container h1:after{
    content: '';
    background-color: #30aef7;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

#features .container .row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

#features .container .row .service{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: var(--mainColor);
    transition: transform 0.5s, background 0.5s !important;
}

#features .container .row .service i{
    font-size: 40px;
    margin-bottom: 10px;
    color: #084284;
}

#features .container .row .service h2{
    font-weight: 600;
    margin-bottom: 8px;
}

#features .container .row .service:hover{
    background: #19aff3ff;
    color: #fff;
    transform: scale(1.05);
}

#features .container .row .service:hover i{
    color: #fff;
}

.planSection{
    z-index: 10;
}

.planSection h1.title{
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
    color: var(--darkOne);
}

.planSection h1.title:after{
    content: '';
    background-color: #30aef7;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.plans{
    width: 300px;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #555555;
    margin: 15px;
    background: var(--lightThree);
}

.planHighlighted{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}

.planSpecial{
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background: #19ccd7ff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
}

.planHeader{
    padding: 25px;
    background-color: #19aff3ff;
    color: #fff;
}

.planTitle,
.planSummary{
    margin: 0;
    text-align: center;
}

.planTitle{
    font-size: 1.5em;
    font-weight: 400;
}

.planSummary{
    font-size: 1em;
    font-weight: 300;
}

.planDescription{
    padding: 25px;
}

.planlist{
    padding: 0;
    margin: 0;
}

.planFeature{
    list-style: none;
    margin: 0;
    padding-left: 25px;
    position: relative;
    font-size: 0.9em;
}

.planFeature:not(:last-child){
    margin-bottom: 0.5em;
}

.planFeature::before{
    content: "\2714";
    color: var(--mainColor);
    position: absolute;
    left: 0;
}

.planAction{
    padding: 25px;
    border-top: 1px solid #eeeeee;
    display: flex;
    flex-direction: column;
}

.planButton{
    display: inline-block;
    margin: 15px auto;
    padding: 8px 20px;
    text-decoration: none;
    color: var(--mainColor);
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #009578;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-weight: bold;
}

.planButton:hover{
    background: var(--mainColor);
    color: #fff;
}

.planCost{
    margin: 0;
    text-align: center;
    font-size: 2em;
    color: #000;
}

.planCostText{
    font-size: 0.9em;
    text-align: center;
    margin: 0 0 10px 0;
}

.planContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

@keyframes appear{
    0%{
        clip-path: circle(30% at -25% -25%);
    }
    100%{
        clip-path: circle(150% at 0 0);
    }
}

@media screen and (max-width: 870px) {

    .hamburgerMenu {
        display: flex;
    }

    .socialMediaIcons{
        flex-direction: row;
        top: 98%;
    }
  
    .navButtons {
      position: fixed;
      top: 0;
      right: 0;
      max-width: 450px;
      width: 100%;
      height: 100%;
      background-color: var(--mainColor);
      z-index: 95;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateX(100%);
      transition: 0.5s;
    }
  
    .navButtons ul {
      flex-direction: column;
    }
  
    .navButtons a {
      color: #fff;
      margin-left: 0;
      padding: 2rem 0;
    }
  
    .navButtons .button {
      background: none;
    }
  
    .overlay {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.7);
      opacity: 0;
      pointer-events: none;
      transition: 0.5s;
    }
  
    .landingPage.active .navButtons {
      transform: translateX(0);
      box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.4);
    }
  
    .landingPage.active .overlay {
      pointer-events: all;
      opacity: 1;
    }
  
    .logo h3 {
      font-size: 1.25rem;
    }
  
    .shape {
      bottom: -180px;
      left: -150px;
      z-index: 2;
    }

    .leftCircle{
        clip-path: circle(10000px at right 2000px);
    }

    .planContainer{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        justify-items: center;
    }

    #features .container .row{
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    #features .container .row .service{
        height: auto;
        width: 220px;
    }



  }
  
  @media screen and (max-width: 470px) {
    .container {
      padding: 0 1.5rem;
    }

    .leftCircle{
        clip-path: circle(550px at right 1000px);
    }
  
  }
